/*///////////////////////// GENERALES /////////////////////////*/

body {
  font-family: 'PT Serif', serif;
  color: #231F20;
}

* {
  scroll-behavior: smooth;
}

section {
  overflow: hidden !important;
}


.lh-100 {
  line-height: 1;
}

.fw-100 {
  font-weight: 100;
}

.fw-200 {
  font-weight: 200;
}

.fw-300 {
  font-weight: 300;
}

.fw-400 {
  font-weight: 400;
}

.fw-500 {
  font-weight: 500;
}

.fw-600 {
  font-weight: 600;
}

.fw-700 {
  font-weight: 700;
}

.fw-800 {
  font-weight: 800;
}

.poppins {
  font-family: 'Poppins', sans-serif;
}

.text-link {
  font-family: 'Poppins', sans-serif;
  font-size: 18px;
  color: #231F20;
}



/* HEADER  */
.menu {
  background-color: transparent;
  -webkit-transition: background 0.3s 0s linear;
  -moz-transition: background 0.3s 0s linear;
  -o-transition: background 0.3s 0s linear;
  transition: background 0.3s 0s linear;
  position: fixed;
  z-index: 10;
  top: 0;
  width: 100%;
}

.header-logo {
  background-image: url("../images/logo.svg");
  width: 200px;
  height: 80px;
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
}

.header-color-logo {
  background-image: url("../images/black-logo.svg");
}

.navbar {
  z-index: 5;
  width: 100%;
  padding: 0.8rem 0rem;
}

.nav-link {
  font-size: 16px;
  font-weight: 600;
  color: white !important;
  padding-bottom: 0px;
  position: relative;
  transition: linear 0.2s;
  padding: 8px 15px !important;
  font-family: 'Poppins', sans-serif;
  text-transform: uppercase;
}

.nav-link::before {
  content: "";
  position: absolute;
  height: 2px;
  width: 25px;
  background-color: #fff;
  bottom: 0;
  margin: 0 auto;
  left: 0;
  right: 0;
  opacity: 0;
  transition: all .3s;
  transform: translateX(-50px);
}

.nav-link:hover::before {
  opacity: 1;
  transform: translateX(0px);
}

.nav-item.active .nav-link::before {
  opacity: 1;
  transform: translateX(0px);
}

/* Bs nav para el menú mobile */
.navbar-toggler-icon,
.navbar-toggler-icon::before,
.navbar-toggler-icon::after {
  background-color: white !important;
  transition: .3s;
}

.bsnav-mobile .navbar {
  left: 0 !important;
  transform: translate3d(-300px, 0, 0) !important;
  box-shadow: 2px 2px 5px -2px rgba(0, 0, 0, 0.65);
  -webkit-box-shadow: 2px 2px 5px -2px rgba(0, 0, 0, 0.65);
  -moz-box-shadow: 2px 2px 5px -2px rgba(0, 0, 0, 0.65);
}

.bsnav-mobile .navbar .nav-link,
.menu.bg-white .nav-link {
  color: #231F20 !important;
}

.menu.bg-white .nav-link:hover::before {
  opacity: 1;
  transform: translateX(0px);
  background-color: #231F20;
}

.menu.bg-white .nav-item.active .nav-link::before {
  background-color: #231F20;
}

.bsnav-mobile.in .navbar {
  transform: translate3d(0px, 0, 0) !important;
}

.header-overlay {
  width: 100%;
  height: 190px;
  position: absolute;
  top: 0;
  background: -webkit-linear-gradient(top, transparent, rgba(0, 0, 0, 0.25) 30%, #041A29);
  background: linear-gradient(0deg, transparent 0, rgba(0, 0, 0, 0.15) 30%, #041A29);
  z-index: 2;
  opacity: .8;
}

.blue-toggler,
.blue-toggler::before,
.blue-toggler::after {
  background-color: #231F20 !important;
}

.nav-shadow {
  box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px,
    rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
}

/* MAIN */
.main-carousel .carousel-item,
.carousel-item.active {
  min-height: 95vh;
}

.main-carousel .carousel-item .container,
.main-carousel .carousel-item.active .container {
  min-height: 95vh;
  display: flex;
  align-items: flex-end;
  padding-bottom: 100px;
  z-index: 100;
}

.main-carousel-img {
  position: absolute;
  bottom: 0;
  height: 100%;
  object-fit: cover;
  z-index: -1;
}

.carousel-indicators li {
  width: 10px;
  height: 10px;
  border-radius: 50%;
  border: 1px solid white;
  margin-right: 3px;
  margin-left: 3px;
  background-color: transparent;
  transition: opacity 0.6s ease;
  opacity: 1;
}

.carousel-indicators .active {
  background: white;
}

/*///////////////////////// animation zoom /////////////////////////*/
.animaZoom {
  background-position: center;
  background-size: cover;
  width: 100%;
  height: 100%;
}

.infinite-zoom {
  -webkit-animation: zoomSlow 35s infinite linear;
  -moz-animation: zoomSlow 35s infinite linear;
  animation: zoomSlow 35s infinite linear;
}

@-webkit-keyframes zoomSlow {
  0% {
    -moz-transform: scale(1);
    -webkit-transform: scale(1);
    transform: scale(1);
  }

  50% {
    -moz-transform: scale(1.3) rotate(0.1deg);
    -webkit-transform: scale(1.3) rotate(0.1deg);
    transform: scale(1.3) rotate(0.1deg);
  }

  100% {
    -moz-transform: scale(1);
    -webkit-transform: scale(1);
    transform: scale(1);
  }
}

@-moz-keyframes zoomSlow {
  0% {
    -moz-transform: scale(1);
    -webkit-transform: scale(1);
    transform: scale(1);
  }

  50% {
    -moz-transform: scale(1.3) rotate(0.1deg);
    -webkit-transform: scale(1.3) rotate(0.1deg);
    transform: scale(1.3) rotate(0.1deg);
  }

  100% {
    -moz-transform: scale(1);
    -webkit-transform: scale(1);
    transform: scale(1);
  }
}

@keyframes zoomSlow {
  0% {
    -moz-transform: scale(1);
    -webkit-transform: scale(1);
    transform: scale(1);
  }

  50% {
    -moz-transform: scale(1.3) rotate(0.1deg);
    -webkit-transform: scale(1.3) rotate(0.1deg);
    transform: scale(1.3) rotate(0.1deg);
  }

  100% {
    -moz-transform: scale(1);
    -webkit-transform: scale(1);
    transform: scale(1);
  }
}

/* PARALLAX BLOCKS */
.parallax-section {
  min-height: 500px;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed;
  display: flex;
  align-items: center;
  position: relative;
}

.parallax-section.punta {
  background-image: url(../images/punta.jpg);
}

.parallax-section.spa {
  background-image: url(../images/spa.jpg);
}

.parallax-section-overlay {
  width: 45%;
  height: 100%;
  position: absolute;
  top: 0;
  background: rgb(0, 0, 0);
  background: linear-gradient(90deg, rgba(0, 0, 0, 1) 12%, rgba(0, 0, 0, 0) 100%);
  z-index: 2;
  opacity: .7;
}

.parallax-section .container,
.video .container {
  position: relative;
  z-index: 5;
}

.video {
  background-image: url(../images/video-bg.jpg);
  min-height: 500px;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  display: flex;
  align-items: center;
  position: relative;
}

.play-btn {
  width: 110px;
  height: 110px;
  position: absolute;
  margin: 0 auto;
  left: 0;
  right: 0;
  top: -15px;
  bottom: 0;
  transition: .3s;
}

.play-btn:hover {
  transform: scale(1.2);
}

/* UBICACION */
.ubicacion {
  background: url(../images/deco.svg) #D2D2D2;
  background-position: center;
  background-size: auto;
  background-repeat: no-repeat;
  display: flex;
  align-items: center;
  min-height: 700px;
  position: relative;
}

.ubicacion-info {
  position: absolute;
  bottom: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  margin: 0 auto;
  left: 0;
  right: 0;
  color: #231F20;
  transition: all .3s;
  padding: 0px 15px;
}

.ubicacion-info i {
  font-size: 36px;
  margin-right: 10px;
  transition: all .3s;
}

.ubicacion-info:hover i {
  color: #00AEE5;
}

.ubicacion-info:hover {
  text-decoration: none;
  color: #231F20;
}

/* CAROUSEL */
.h-550 {
  min-height: 550px;
  object-fit: cover;
}

.owl-carousel .item img {
  min-height: 550px;
  object-fit: cover;
}

.owl-nav {
  display: flex;
  justify-content: space-between;
  transform: translateY(-310px);
}

.owl-nav .owl-next,
.owl-nav .owl-prev {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  outline: none;
  transition: .3s;
}

.owl-nav .owl-next i,
.owl-nav .owl-prev i {
  color: #fff;
  font-size: 26px;
}

.owl-nav .owl-next {
  margin-right: 10px;
}

.owl-nav .owl-prev {
  margin-left: 10px;
}

.owl-nav .owl-next:hover,
.owl-nav .owl-prev:hover {
  transform: scale(1.1);
  background: transparent;
}

.owl-theme .owl-nav [class*='owl-']:hover {
  background: transparent;
  color: #FFF;
  text-decoration: none;
}

.owl-dots {
  position: absolute;
  z-index: 100000;
  bottom: 80px;
  left: 0;
  right: 0;
}


.owl-theme .owl-dots .owl-dot span {
  width: 15px;
  height: 15px;
  margin: 5px 7px;
  background: transparent;
  border: 3px solid white;
  display: block;
  -webkit-backface-visibility: visible;
  transition: opacity 200ms ease;
  border-radius: 30px;
  transition: all .3s;
}

.owl-theme .owl-dots .owl-dot.active span,
.owl-theme .owl-dots .owl-dot:hover span {
  background: white;
}


.rooms-info {
  columns: 2;
  -webkit-columns: 2;
  -moz-columns: 2;
  list-style: none;
  padding-left: 0;
  font-size: 20px;
  font-style: italic;
}

.text-deco {
  background: url(../images/deco.svg) #D2D2D2;
  background-position: center;
  background-size: auto;
  background-repeat: no-repeat;
  display: flex;
  align-items: center;
  min-height: 600px;
  position: relative;
}

.photos-deco {
  background: linear-gradient(to bottom,
      #D2D2D2 50%,
      white 50% 100%);
}

.float-button {
  position: fixed;
  background-color: #00AEE5;
  z-index: 100;
  right: 25px;
  bottom: 25px;
  width: 90px;
  height: 90px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  color: white;
  font-weight: 600;
  font-size: 21px;
  line-height: 1;
  font-style: italic;
  transition: all .3s;
}

.float-button:hover {
  text-decoration: none;
  background-color: #0096c4;
  color: white;
}

/* FOOTER */
footer {
  background: #E5E5E5;
  padding: 80px 0px;
  position: relative;
  color: #231F20;
}

.footer-logo {
  width: 100%;
  max-width: 280px;
  display: flex;
  margin: 0 auto;
}

footer a {
  color: #231F20;
  transition: .3s;
}

footer a:not(.social-footer a):hover {
  text-decoration: none;
  margin-left: 5px;
}


.social-footer a {
  width: 55px;
  height: 55px;
  border: 2px solid #848484;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 10px;
  font-size: 21px;
  color: #848484;
}

.social-footer a:Hover {
  background-color: #C1C1C1;
  text-decoration: none;
}

/* .copyright {
  background-color: #003456;
  position: absolute;
  bottom: 0;
  font-size: 14px;
} */

/* RESPONSIVE */

@media (max-width: 1024px) {

  .h-550,
  .owl-carousel .item img {
    min-height: 450px;
    object-position: left;
  }

  .parallax-section {
    min-height: 400px;
  }
  .owl-nav {
    transform: translateY(-260px);
}
}

@media (max-width: 768px) {
  .nav-link {
    padding: 25px 0px;
  }

  .ubicacion,
  .text-deco {
    min-height: 550px;
    background-size: 40%;
  }


}

@media (max-width: 525px) {

  .main-carousel .carousel-item,
  .carousel-item.active {
    min-height: 75vh;
  }

  .main-carousel .carousel-item .container,
  .main-carousel .carousel-item.active .container {
    min-height: 75vh;
  }

  .owl-nav {
    transform: translateY(-195px);
}
.rooms-info {
  columns: 1;
  -webkit-columns: 1;
  -moz-columns: 1;
  font-size: 18px;
}
  .ubicacion, .text-deco {
    background-size: 55%;
}
.h-550,
  .owl-carousel .item img {
    min-height: 300px;
  }
  .play-btn {
    position: relative;
    width: 80px;
    height: 80px;
    top: 50px;
  }
  .mobile-center {
    justify-content: center;
    text-align: center;
  }
}